    <div class="container-fluid">
      <div class="row">

        <div class="col"></div>
        <main class="pt-4 col-10">
          <h1>Plutonium monitoring</h1>
          <h5>Keeping an eye on things</h5>

          <section class="row text-center placeholders">
            <div class="col placeholder">
                Not available, due to RasPi gone crazy from all that traffic
            </div>
            <div class="col placeholder">
                But is surely was beautiful. 
            </div>
          </section>
          <section class="row text-center placeholders">
            <div class="col">
                <img src="./static/img/old_fame.jpg" class="img-fluid">
            </div>
          </section>

        </main>
        <div class="col"></div>
      </div>
    </div>
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="../static/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../static/js/ie10bugfix.js"></script>
