    <nav class="navbar navbar-toggleable-md navbar-inverse fixed-top bg-inverse">
      <button class="navbar-toggler navbar-toggler-right hidden-lg-up" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="https://bastart.spoton.cz">Monitoring</a>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item {energy}">
            <a class="nav-link" href="https://bastart.spoton.cz">Energy</a>
          </li>
          <li class="nav-item {weather}">
            <a class="nav-link" href="https://bastart.spoton.cz/weather">Weather</a>
          </li>
          <li class="nav-item {status}">
            <a class="nav-link" href="https://bastart.spoton.cz/status">Status</a>
          </li>
          <li class="nav-item {temphumi}">
            <a class="nav-link" href="https://bastart.spoton.cz/temphumi">Temp / Humidity</a>
          </li>
        </ul>
      </div>
    </nav>
